body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 30px auto;
  text-align: center;
}

.toDoList {
  list-style-type: none;
}

.inlineList * {
  display: inline-block;
  margin: 10px;
}

.done {
  color: green;
  font-weight: bold;
  text-decoration: line-through;
}

.todo {
  color: red;
}

.statusCounter span {
  margin: 20px;
}
